*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-color-light{
    background-color: #1D2D3C;
}
header{
    background-color: #06131F;
    padding: 20px;
}
header > img{
    width: 50px;
}
.bg-color-card{
    background-color: #112030;
}
.footer{
    padding: 20px;
    background-color:#06131F ;
}